#walrus-showing {
  display: none;
}
.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}


#display {
  display: none;
}

#show {
  display: none;
}

#expose {
  display: none;
}
